html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  height: 100vh;
  margin: auto;
  gap: 30px;

  grid-template-areas: "header header header"
                      ". form ."
                      ". table ."
                      "footer footer footer"

}

.container-form {
  grid-area: form;
  border-radius: 10px;
  padding: 20px;
}
